@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@500&display=swap');
:root {
    --admin-primary: #01112B;
    --admin-primary-hover: #021c46;
    --admin-secondary: #0A98AF;
    --light-bg: #F5F5F9;
    --light-text: #6F7483;
    --light-border: #cad1e2;
    --admin-red: #f82647;
    --admin-red-hover: #fc7c8f;
    --admin-green: #149606;
    --admin-green-hover: #98fd8d;
    --admin-purple: #a31f96;
    --admin-blue: #1227e0;
    --text: #495067;
    --focus-outline: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    --main-hover: #e3e3ff;
    --light-hover: #eeeefd;
    --main-boxshadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --title-size: 1.5rem;
    --input-height: 2rem;
    --success-blue: #0A98AF;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif ;
}

a{
    text-decoration: none;
}

.breadcrum{
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    color: var(--text);
}

.breadcrum .breadcrum-link{
    color: var(--text);
    text-decoration: none;
}

.mini-square-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow); 
}

.mini-round-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--main-boxshadow); 
}

.medium-round-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--main-boxshadow); 
}

.large-round-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--main-boxshadow); 
}

.mini-rectangle-img{
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow); 
}

.dropdown{
    display: none;
}

.dropdown.show{
    display: block;
    z-index: 999999;
}

table td.red{
    color: var(--admin-red);
}

table td.blue{
    color: var(--admin-blue);
}

table td.purple{
    color: var(--admin-purple);
}

table td.green{
    color: var(--admin-green);
}

table td.gray{
    color: var(--light-text);
}



/* ADMIN LAYOUT START */
.admin-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: 100%;
    overflow: hidden    ;
}

.admin-main-side{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin-main-side-body{
    background: var(--light-bg);
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
}

.admin-main-side-nav{
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* ADMIN LAYOUT END */

/* ADMIN DASHBOARD CHARTS START */
.admin-dashboard-charts{
    margin-top: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1fr;
    gap: 1.3rem;
}

.admin-dashboard-charts-orders, .admin-dashboard-charts-earnings{
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 6px;
    padding: 1rem;
}

.chart-container{

    position: relative;
    height: 100%;
}

.chart-title{
    color: var(--text);
    font-size: var(--title-size);
}
/* ADMIN DASHBOARD CHARTS END */

/* ADMIN SIDEBAR START */
.admin-sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--admin-primary);
    padding-inline: 1rem;
}

.admin-sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    border-bottom: 2px solid #fff;
}

.admin-sidebar-top-title{
    font-size: 1.5rem;
    color: #fff;
}

.admin-sidebar-tabs{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    max-height: 100%;
    gap: .5rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.admin-sidebar-tabs::-webkit-scrollbar {
    display: none;
  }

.admin-sidebar-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: .2s ease-in-out all;
    margin: 3px 0;
}

.admin-sidebar-tab.active{
    color: var(--admin-primary);
    background: #fff;
}

.admin-sidebar-tab:hover{
    color: var(--admin-primary);
    background: #fff;
}

.admin-sidebar-tabs-group-title{
    color: var(--light-text);
    font-size: .95rem;
    margin-bottom: .2rem ;
}
/* ADMIN SIDEBAR END */

/* ADMIN NAV START */
.admin-nav{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .6rem 1rem;
    align-items: center;
}

.admin-nav-left{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}

.admin-nav-right-profile{
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: row;
    cursor: pointer;
    position: relative;
}

.admin-nav-right-profile-name{
    color: var(--light-text);
    font-weight: 500;
}

.admin-nav-right-profile-dropdown{
    padding: .5rem 0;
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    top: 4rem;
    right: 0;
    flex-direction: column;
    min-width: 15.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: none;
    transition: all ease-in-out 0.3s;
    z-index: 99999;
}

.admin-nav-right-profile-dropdown-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    color: var(--text);
    padding: .5rem 0;
    padding-left: 2rem;
    text-decoration: none;
    font-weight: 500;
    /* z-index: 4; */
    /* background-color: #01112B; */
}

.admin-nav-right-profile-dropdown-tab:hover{
    background: var(--main-hover);
}
/* ADMIN NAV END */

/* ADMIN DASHBOARD START */
.admin-dashboard{
    padding: 2.5rem 2rem;
}

.admin-dashboard-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    gap: 1.3rem;
}

.dashboard-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  1rem;
    background-color: #fff;
    box-shadow: var(--main-boxshadow);
    border-radius: 6px;
}

.dashboard-card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dashboard-card-right-label{
    color: var(--light-text);
    font-size: 1.1rem;
}

.dashboard-card-right-count{
    font-size: 1.6rem;
    color: var(--text);
}


.dashboard-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card-icon i{
    font-size: 1.6rem;
    background-color: var(--admin-secondary);
    padding: .8rem;
    color: #fff;
    border-radius: 50%;
}

/* admin table start */
.admin-dashboard-orders{
    margin-top: 1.8rem;
}

.table-container{
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow);
}

.table-container-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table-container-top-title{
    color: var(--text);
    font-size: var(--title-size);
}

.chart-empty{
    padding: 1rem 0;
    color: var(--light-text);
}

.table-container-top-search input{
    padding: .5rem 1rem;
    border: 1px solid var(--light-border);
    border-radius: 6px;
    font-size: 1.1rem;
    outline: none;
    transition: box-shadow .2s ease-in-out;
}

.table-container-top-search input:focus{
    box-shadow: var(--focus-outline);
}

.table-container-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.table-container-main{
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.table-container-main {
    border-radius: 6px;
}

.table-container-main > table, tr, th, td {
    border: 1px solid var(--light-border);
    border-collapse: collapse;
}


.col-action-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem; 
    border: none;
    position: relative;
}

.col-action-btns button{
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: .4rem;
    font-size: 1.02rem;
    border-radius: 6px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.col-action-btns.vertical{
    flex-direction: column;
}

.col-action-btns .action-resource-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: .8rem;
    padding: .3rem;
    border: 1px solid var(--admin-primary);
    color: #fff;
    gap: .5rem;
    background-color: var(--admin-primary);
}

.col-action-btns .action-resource-btn.secondary{
    background-color: var(--admin-secondary);
    border: var(--admin-secondary) 1px solid;
}

.col-action-btns .details-resource-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.2rem;
    padding: .3rem;
    border: #fff solid 1px;
    color: #fff;
    gap: .5rem;
    background-color: #fff;
    color: var(--admin-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .3s all ease-in-out;
}

.details-resource-btn:hover{
    background: var(--light-border);
    border: 1px solid var(--light-border);
}

.details-resource-btn.danger:hover{
    background: var(--admin-red);
    border: 1px solid var(--admin-red-hover);
}

.details-resource-btn.success:hover{
    background: var(--admin-green-hover);
    border: 1px solid var(--admin-green-hover);
}

.action-resource-btn-dropdown{
    padding: .5rem 0;
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    top: 80%;
    right: 0;
    flex-direction: column;
    min-width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all ease-in-out 0.3s;
    z-index: 9;
}

.action-resource-btn-dropdown-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    color: var(--text);
    padding: .4rem 0;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.action-resource-btn-dropdown-tab:hover{
    background: var(--main-hover);
}

.delete-resource-btn{
    background-color: transparent;
    border: 2px solid var(--admin-red);
    color: var(--admin-red);
    cursor: pointer;
}

.delete-resource-btn:hover{
    color: #fff;
    background-color: var(--admin-red);
}

.edit-resource-btn{
    background-color: transparent;
    color: var(--success-blue);
    border: 2px solid var(--success-blue);
}

.edit-resource-btn:hover{
    background-color: var(--success-blue);
    color: #fff;
    border: var(--success-blue) solid 2px;
}

.table-container-main th {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text);
}

.table-container-main td {
    color: var(--text);
}

.table-container-main th, .table-container-main td {
    text-align: left;
    padding: 1rem .5rem;
}

.table-container-main tbody tr:nth-child(odd) {
    background-color: var(--light-hover);
}
/* admin table end */

/* custom pagination start */
.custom-pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.custom-pagination-links{
    display: flex;
    flex-direction: row;
}

.custom-pagination-links button{
    background: none;
    outline: none;
    border: var(--light-border) solid 1px;
    color: var(--text);
    font-weight: 500;
    font-size: 1.05rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.custom-pagination-count{
    color: var(--light-text);
}

.custom-pagination button.disabled{
    color: var(--light-text);
    cursor: not-allowed;
}

.table-container-bottom-pagination-link.disabled:hover{
    background: none ;
}

.custom-pagination button:hover{
    background-color: var(--main-hover);
}

.custom-pagination button.disabled:hover{
    background: none;
}

.custom-pagination button.active{
    background-color: var(--admin-primary-hover);
    border: var(--admin-primary-hover) solid 1px;
    cursor: default;
    color: #fff;
}
/* custom pagination end */
/* ADMIN DASHBOARD END */


/* RESOURCES STYLE START*/
.resource-index{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.resource-index-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}



.resource-index-top-right a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: .5rem .8rem;
    border-radius: 6px;
    background-color: var(--admin-primary);
    transition: .3s all ease-in-out;
}

.resource-index-top-right a:hover{
    background-color: var(--admin-primary-hover);
}

.resource-create{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
}

.full-width-resource-field{
    grid-column: 1/-1;
}

.required{
    color: var(--admin-red);
}

.form-error{
    color: var(--admin-red);
    padding-left: .1rem;
    font-size: .9rem;
}

.resource-breadcrum{
    padding: .8rem 0;
    color: var(--text);
    font-size: 1.05rem;
    font-weight: 500;
}

.resource-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: .8rem;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow);
    gap: 1rem;
}

.profile-pic-container{
    padding: 0;
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container{
    position: absolute;
    
}

.profile-pic-edit{
    position: absolute;
    display: flex;
    border: #fff solid 2px;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: var(--light-hover);
    border-radius: 50%;
    right: -10px;
    top:60%;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.profile-pic-edit:hover{
    background: var(--light-bg);
}

.profile-pic-dropdown{
    position: absolute;
    width: 200px;
    background-color: #fff;
    bottom: -7rem;
    left: 3rem;
    border-radius: 6px;
    border: 1px solid var(--light-border);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
}

.profile-pic-dropdown.show{
    display: block;
}

.profile-pic-dropdown-tab{
    padding: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-pic-dropdown-tab:hover{
    background-color: var(--light-hover);
}

.profile-pic-dropdown-tab:not(:last-child){
    border-bottom: 1px solid var(--light-border);
}

.resource-form-head{
    font-size: 1.2rem;
    color: var(--text);
}

.resource-grid-inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.resource-form .form-label{
    color: var(--text);
    margin-bottom: .5rem;
}

.resource-form select{
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: var(--light-border) solid 1px;
    padding: .55rem .8rem;
    color: var(--text);
}

.resource-form select:focus{
    box-shadow: var(--focus-outline);
}

textarea{
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: var(--light-border) solid 1px;
    padding: 1.2rem .8rem;
}

textarea:focus{
    box-shadow: var(--focus-outline);
}

.resource-form input:not([type="file"]){
    width: 100%;
    height: var(--input-height);
    border-radius: 6px;
    outline: none;
    border: var(--light-border) solid 1px;
    padding: 1.2rem .8rem;
}

.resource-form input:focus{
    box-shadow: var(--focus-outline);
}

.resource-form input[type="file"]{
    width:  100%;
    font-size: 1.02rem;
    outline: none;
    border: var(--light-border) solid 1px;
    border-radius: 6px;
}

::-webkit-file-upload-button{
    border: none;
    border-right: 1px solid var(--light-border);
    border-radius: 6px 0 0 6px;
    padding: .7rem;
    cursor: pointer;
    background: var(--light-hover);
    margin-right: 1rem;
    transition: all .3s;
}

::-webkit-file-upload-button:hover{
    background: var(--light-bg);
}

.resource-form-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.resource-form-bottom button{
    outline: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.resource-form-submit-btn{
    background: var(--admin-primary);
    border: var(--admin-primary) 1px solid;
    color: #fff;
}

.resource-form-submit-btn:hover{
    background: var(--admin-primary-hover);
    border: var(--admin-primary-hover) 1px solid;
}

.resource-form-cancel-btn{
    background: none;
    border: var(--admin-primary) 2px solid;
    color: var(--admin-primary);
}

.resource-form-cancel-btn:hover{
    background: var(--admin-primary);
    color: #fff;
}

.show-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.show-container .show-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  1rem 0 ;
}

.custom input[type=color]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.custom input[type=color]::-webkit-color-swatch {
    box-shadow: var(--main-boxshadow);
    border-radius: 6px;
    border: none;
}
.custom input[type=color]::-moz-color-swatch {
    box-shadow: var(--main-boxshadow);
    border-radius: 6px;
    border: none;
  }
/* RESOURCES STYLE END*/

/* ORDER-SHOW STYLE START*/

.order-show{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.order-show-part{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block-details-container{
    background: #fff;
    padding: .5rem;
    width: 100%;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow);
}

.block-details{
    display: flex;
    flex-direction: column;
}

.block-details-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .7rem 0;
    align-items: center;
}

.block-details-col{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem ;
    color: var(--admin-primary);
}

.block-details-col .title{
    font-size: 1.3rem;
    font-weight: 500;
}

.block-details-col i{
    font-size: 1.3rem;
}

.block-details-row:not(:last-child){
    border-bottom: 1px solid var(--light-border);
}

.block-details-row.header{
    justify-content: center;
    background: var(--light-hover);
    border-radius: 6px 6px 0 0;
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 500;
}

.order-progress-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #fff;
    justify-content: space-around;
    padding: 1.5rem 0;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow);
}

.order-progress-status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-text);
    position: relative; 
}


.order-progress-status-circle{
    border: 1px solid var(--light-text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.order-progress-status-label{
    position: absolute;
    bottom: -50%;
    font-size: .8rem;
}


.order-progress-status:not(:first-child)::before{
    content: '';
    background: var(--light-text);
    position: absolute;
    width: calc(100% - 1.15rem);
    height: 2px;
    right: 50%;
}

.order-progress-status:first-child::before{
    content: '';
    background: var(--light-text);
    position: absolute;
    width: calc(50% - 1.15rem);
    height: 2px;
    right: 50%;
}

.order-progress-status:last-child::after{
    content: '';
    background: var(--light-text);
    position: absolute;
    width: calc(50% - 2.3rem);
    height: 2px;
    left: calc(50% + 1.15rem);
}

.order-progress-status.active .order-progress-status-circle{
    border: 1px solid var(--admin-blue);
    color: var(--admin-blue);
}

.order-progress-status.active::before{
    background: var(--admin-blue);
}

.order-progress-status.active:last-child::after{
    background: var(--admin-blue);
}


.order-progress-status.active .order-progress-status-label{
    color: var(--admin-blue);
}

table.regular-table{
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table.regular-table tr{
    border: none;
}

table.regular-table tr:not(:last-child){
    border-bottom: 1px solid var(--light-border);
}

table.regular-table td, table.regular-table th {
    padding: .5rem;
    border: none;
}

table.regular-table td {
    color: var(--light-text);
}

table.regular-table th {
    text-align: left;
    color: var(--text);
}

table.regular-table th.right {
    text-align: right;
}
/* ORDER-SHOW STYLE END*/

/* CUSTOMER-SHOW STYLE END*/
.customer-show{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.customer-show-top{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.customer-show-top > div{
    padding: 1rem;
    box-shadow: var(--main-boxshadow);
    border-radius: 6px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-text);
}

.block .block-head{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text);
}

.block .block-icon{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--admin-secondary);
}

/* CUSTOMER-SHOW STYLE END*/