@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@500&display=swap');
:root {
    --admin-primary: #01112B;
    --admin-primary-hover: #021c46;
    --admin-secondary: #0A98AF;
    --light-bg: #F5F5F9;
    --light-text: #6F7483;
    --light-border: #cad1e2;
    --admin-red: #f82647;
    --text: #495067;
    --focus-outline: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    --main-hover: #e3e3ff;
    --light-hover: #eeeefd;
    --main-boxshadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --title-size: 1.5rem;
    --input-height: 2rem;
    --success-blue: #0A98AF;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif ;
}

a{
    text-decoration: none;
}

.mini-square-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow); 
}



/* ADMIN LAYOUT START */
.admin-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: 100%;
    overflow: hidden    ;
}

.admin-main-side{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin-main-side-body{
    background: var(--light-bg);
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
}

.admin-main-side-nav{
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* ADMIN LAYOUT END */

/* ADMIN DASHBOARD CHARTS START */
.admin-dashboard-charts{
    margin-top: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1fr;
    gap: 1.3rem;
}

.admin-dashboard-charts-orders, .admin-dashboard-charts-earnings{
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 6px;
    padding: 1rem;
}

.chart-container{

    position: relative;
    height: 100%;
}

.chart-title{
    color: var(--text);
    font-size: var(--title-size);
}
/* ADMIN DASHBOARD CHARTS END */

/* ADMIN SIDEBAR START */
.admin-sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--admin-primary);
    padding-inline: 1rem;
}

.admin-sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    border-bottom: 2px solid #fff;
}

.admin-sidebar-top-title{
    font-size: 1.5rem;
    color: #fff;
}

.admin-sidebar-tabs{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    max-height: 100%;
    gap: .5rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.admin-sidebar-tabs::-webkit-scrollbar {
    display: none;
  }

.admin-sidebar-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: .2s ease-in-out all;
}

.admin-sidebar-tab.active{
    color: var(--admin-primary);
    background: #fff;
}

.admin-sidebar-tab:hover{
    color: var(--admin-primary);
    background: #fff;
}
/* ADMIN SIDEBAR END */

/* ADMIN NAV START */
.admin-nav{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .6rem 1rem;
    align-items: center;
}

.admin-nav-left{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
}

.admin-nav-right-profile{
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: row;
    cursor: pointer;
    position: relative;
}

.admin-nav-right-profile-pic{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.admin-nav-right-profile-name{
    color: var(--light-text);
    font-weight: 500;
}

.admin-nav-right-profile-dropdown{
    padding: .5rem 0;
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    top: 4rem;
    right: 0;
    display: flex;
    flex-direction: column;
    min-width: 15.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: none;
    transition: all ease-in-out 0.3s;
}

.admin-nav-right-profile-dropdown-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    color: var(--text);
    padding: .5rem 0;
    padding-left: 2rem;
    text-decoration: none;
    font-weight: 500;
    z-index: 4;
    /* background-color: #01112B; */
}

.admin-nav-right-profile-dropdown-tab:hover{
    background: var(--main-hover);
}
/* ADMIN NAV END */

/* ADMIN DASHBOARD START */
.admin-dashboard{
    padding: 2.5rem 2rem;
}

.admin-dashboard-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    gap: 1.3rem;
}

.dashboard-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  1rem;
    background-color: #fff;
    box-shadow: var(--main-boxshadow);
    border-radius: 6px;
}

.dashboard-card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dashboard-card-right-label{
    color: var(--light-text);
    font-size: 1.1rem;
}

.dashboard-card-right-count{
    font-size: 1.6rem;
    color: var(--text);
}


.dashboard-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card-icon i{
    font-size: 1.6rem;
    background-color: var(--admin-secondary);
    padding: .8rem;
    color: #fff;
    border-radius: 50%;
}

/* admin table start */
.admin-dashboard-orders{
    margin-top: 1.8rem;
}

.table-container{
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow);
}

.table-container-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table-container-top-title{
    color: var(--text);
    font-size: var(--title-size);
}

.chart-empty{
    padding: 1rem 0;
    color: var(--light-text);
}

.table-container-top-search input{
    padding: .5rem 1rem;
    border: 1px solid var(--light-border);
    border-radius: 6px;
    font-size: 1.1rem;
    outline: none;
    transition: box-shadow .2s ease-in-out;
}

.table-container-top-search input:focus{
    box-shadow: var(--focus-outline);
}

.table-container-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.table-container-main{
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.table-container-main {
    border-radius: 6px;
}

.table-container-main > table, tr, th, td {
    border: 1px solid var(--light-border);
    border-collapse: collapse;
}


.table-container-main .col-action-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.table-container-main .col-action-btns button{
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    font-size: 1.02rem;
    border-radius: 6px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.delete-resource-btn{
    background-color: transparent;
    border: 2px solid var(--admin-red);
    color: var(--admin-red);
    cursor: pointer;
}

.delete-resource-btn:hover{
    color: #fff;
    background-color: var(--admin-red);
}

.edit-resource-btn{
    background-color: transparent;
    color: var(--success-blue);
    border: 2px solid var(--success-blue);
}

.edit-resource-btn:hover{
    background-color: var(--success-blue);
    color: #fff;
    border: var(--success-blue) solid 2px;
}

.table-container-main th {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text);
}

.table-container-main td {
    color: var(--text);
}

.table-container-main th, .table-container-main td {
    text-align: left;
    padding: 1rem .5rem;
}

.table-container-main tbody tr:nth-child(odd) {
    background-color: var(--light-hover);
}
/* admin table end */

/* custom pagination start */
.custom-pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.custom-pagination-links{
    display: flex;
    flex-direction: row;
}

.custom-pagination-links button{
    background: none;
    outline: none;
    border: var(--light-border) solid 1px;
    color: var(--text);
    font-weight: 500;
    font-size: 1.05rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.custom-pagination-count{
    color: var(--light-text);
}

.custom-pagination button.disabled{
    color: var(--light-text);
    cursor: not-allowed;
}

.table-container-bottom-pagination-link.disabled:hover{
    background: none ;
}

.custom-pagination button:hover{
    background-color: var(--main-hover);
}

.custom-pagination button.disabled:hover{
    background: none;
}

.custom-pagination button.active{
    background-color: var(--admin-primary-hover);
    border: var(--admin-primary-hover) solid 1px;
    cursor: default;
    color: #fff;
}
/* custom pagination end */
/* ADMIN DASHBOARD END */


/* RESOURCES STYLE START*/
.resource-index{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.resource-index-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.resource-index-top-left{
    font-size: 1.1rem;
    color: var(--text);
}

.resource-index-top-right a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: .5rem .8rem;
    border-radius: 6px;
    background-color: var(--admin-primary);
    transition: .3s all ease-in-out;
}

.resource-index-top-right a:hover{
    background-color: var(--admin-primary-hover);
}

.resource-create{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.full-width-resource-field{
    grid-column: 1/-1;
}

.required{
    color: var(--admin-red);
}

.form-error{
    color: var(--admin-red);
    padding-left: .1rem;
    font-size: .9rem;
}

.resource-breadcrum{
    padding: .8rem 0;
    color: var(--text);
    font-size: 1.05rem;
    font-weight: 500;
}

.resource-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: .8rem;
    border-radius: 6px;
    box-shadow: var(--main-boxshadow);
    gap: 1rem;
}

.resource-grid-inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.resource-form .form-label{
    color: var(--text);
    margin-bottom: .5rem;
}

.resource-form select{
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: var(--light-border) solid 1px;
    padding: .55rem .8rem;
    color: var(--text);
}

.resource-form select:focus{
    box-shadow: var(--focus-outline);
}

textarea{
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: var(--light-border) solid 1px;
    padding: 1.2rem .8rem;
}

textarea:focus{
    box-shadow: var(--focus-outline);
}

.resource-form input:not([type="file"]){
    width: 100%;
    height: var(--input-height);
    border-radius: 6px;
    outline: none;
    border: var(--light-border) solid 1px;
    padding: 1.2rem .8rem;
}

.resource-form input:not([type="file"]):focus{
    box-shadow: var(--focus-outline);
}

.resource-form input[type="file"]{
    width:  100%;
    font-size: 1.02rem;
    border: var(--light-border) solid 1px;
    border-radius: 6px;
}

::-webkit-file-upload-button{
    border: none;
    border-right: 1px solid var(--light-border);
    border-radius: 6px 0 0 6px;
    padding: .7rem;
    cursor: pointer;
    background: var(--light-hover);
    margin-right: 1rem;
    transition: all .3s;
}

::-webkit-file-upload-button:hover{
    background: var(--light-bg);
}

.resource-form-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.resource-form-bottom button{
    outline: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.resource-form-submit-btn{
    background: var(--admin-primary);
    border: var(--admin-primary) 1px solid;
    color: #fff;
}

.resource-form-submit-btn:hover{
    background: var(--admin-primary-hover);
    border: var(--admin-primary-hover) 1px solid;
}

.resource-form-cancel-btn{
    background: none;
    border: var(--admin-primary) 2px solid;
    color: var(--admin-primary);
}

.resource-form-cancel-btn:hover{
    background: var(--admin-primary);
    color: #fff;
}
/* RESOURCES STYLE END*/