@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@500&display=swap');
:root {
    --admin-primary: #01112B;
    --admin-primary-hover: #021c46;
    --admin-secondary: #0A98AF;
    --light-bg: #F5F5F9;
    --light-text: #6F7483;
    --admin-red: #f82647;
    --text: #495067;
  }

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif ;
}


/* ADMIN LAYOUT START */
.admin-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: 100%;
}

.admin-main-side{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin-main-side-body{
    background: var(--light-bg);
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
}

.admin-main-side-nav{
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* ADMIN LAYOUT END */

/* ADMIN DASHBOARD CHARTS START */
.admin-dashboard-charts{
    margin-top: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1fr;
    gap: 1.3rem;
}

.admin-dashboard-charts-orders, .admin-dashboard-charts-earnings{
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 6px;
    padding: 1rem;
}

.chart-container{

    position: relative;
    height: 100%;
}

.chart-title{
    color: var(--text);
    font-size: 1.6rem;
}
/* ADMIN DASHBOARD CHARTS END */

/* ADMIN SIDEBAR START */
.admin-sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--admin-primary);
    padding-inline: 1rem;
}

.admin-sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    border-bottom: 2px solid #fff;
}

.admin-sidebar-top-title{
    font-size: 1.56rem;
    color: #fff;
}

.admin-sidebar-tabs{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: .5rem;
}

.admin-sidebar-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: .2s ease-in-out all;
}

.admin-sidebar-tab.active{
    color: var(--admin-primary);
    background: #fff;
}

.admin-sidebar-tab:hover{
    color: var(--admin-primary);
    background: #fff;
}
/* ADMIN SIDEBAR END */

/* ADMIN NAV START */
.admin-nav{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: center;
}

.admin-nav-right-profile{
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: row;
    cursor: pointer;
}

.admin-nav-right-profile-pic{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.admin-nav-right-profile-name{
    color: var(--light-text);
    font-weight: 500;
}
/* ADMIN NAV END */

/* ADMIN DASHBOARD START */
.admin-dashboard{
    padding: 2.5rem 2rem;
}

.admin-dashboard-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.3rem;
}

.dashboard-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:  1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 6px;
}

.dashboard-card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dashboard-card-right-label{
    color: var(--light-text);
    font-size: 1.2rem;
}

.dashboard-card-right-count{
    font-size: 1.8rem;
    color: var(--text);
}


.dashboard-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card-icon i{
    font-size: 1.6rem;
    background-color: var(--admin-secondary);
    padding: .8rem;
    color: #fff;
    border-radius: 50%;
}
/* ADMIN DASHBOARD END */